/*Global*/

* {
}

body, html {
  padding: 0;
  margin: 0;
  clear: both;
}

body {
  background-color: black;
}

p, ol, ul, li, a {
  font-family: Helvetica, sans-serif;
  color: seashell;
}

/*Typography*/

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
}

/*Images*/

.logo {
  height: 50px;
  margin: 10px;
}

/*Content*/

header {
  height: 69px;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

header nav ol {
  margin-right: -50px;
  margin-top: 30px;
  width: 400px;
  list-style: none;
  float: right;
  display: inline-flex;
  text-overflow: clip;
}

header nav ol li a {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.25em;
}










/**/
