/*Global*/

* {
  /*
border: 1px solid red;
*/
}

body, html {
  padding: 0;
  margin: 0;
  clear: both;
}

body {
  background-color: black;
}

body, a {
  font-family: Helvetica, sans-serif;
  color: seashell;
  text-align: center;
}


/*Typography*/

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 1.875em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1.1em;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
}


/*Content*/

.logo {
  height: 50px;
  margin: 10px;
}

header {
  height: 69px;
  width: 100%;
  z-index: 50;
  background-color: black;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

header nav ol {
  margin-right: -50px;
  margin-top: 30px;
  width: 400px;
  list-style: none;
  float: right;
  display: inline-flex;
  text-overflow: clip;
}

header nav ol li a {
  margin-left: 10px;
  font-weight: bold;
  font-size: 1.25em;
}


/*Sections*/

#mission, #featured, #location {
  padding-top: 70px;
  width: auto;
  height: auto;
  margin: 0 auto;
}


/*Mission*/

.hero {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  /*Cover*/
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#mission .hero {
  background-image: url("../img/img-mission-background.jpg");
  height: 700px;
}

#location .hero {
  background-image: url("../img/img-locations-background.jpg");
  height: 700px;
}

@media screen and (max-width: 900px) {
  #location .hero {
    height: auto;
  }
}

.hero .overlay {
  width: 100%;
  padding: 20px;
  margin: auto 0;
  color: white;
  background-color: black;
}

.transparent {
  opacity: 0.9;
}

.rounded, .tea img {
  border-radius: 6px;
}


/*Featured*/

#featured {
  margin: 100px auto;
}

.monthly {
  padding: 0 50px;
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tea {
  padding: 10px 20px;
  flex: 0 1 300px;
}

.tea img {
  width: 300px;
  height: 200px;
}


/*Featured*/

#location {}

.title {
  position: absolute;
  z-index: 10;
  margin: 70px 0;
}

.addresses {
  margin-top: 200px;
  display: flex;
  flex-flow: row wrap;
}

.address {
  flex: 1 auto;
  height: 200px;
  padding: 50px;
  margin: 20px;
  background-color: black;
}

/*Footer*/

p.copyright {
  text-align: left;
  margin-left: 25px;
}


/**/
